<div class="_3bnJZ">
    <div data-mesh-id="SITE_HEADERinlineContent" data-testid="inline-content" class="">
        <div data-mesh-id="SITE_HEADERinlineContent-gridContainer" data-testid="mesh-container-content">
            <div id="comp-jozupjw63" class="XUUsC _2S73V"><a data-testid="linkElement" href="https://www.ecuriesdepersevere.com/blog" target="_self" class="xQ_iF">
                        <img src="https://static.wixstatic.com/media/58d19d_329a8f9d949d49ebae29ad14a43297d9~mv2_d_1418_1418_s_2.png/v1/fill/w_139,h_139,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/persevere.png" alt="persevere.png" style="width: 111px; height: 111px; object-fit: contain; object-position: center center;"></a></div>
                <nav class="l76As" id="comp-jozupke3navContainer" aria-label="Site">
                    <ul class="_2MHbW" id="comp-jozupke3itemsContainer" style="text-align:center" data-marginallchildren="true">
                        <li id="comp-jozupke30" data-direction="ltr" data-listposition="center" data-data-id="dataItem-jp47spad" data-state="menu selected  link" data-index="0" class="Y5j6d _3KF65" data-original-gap-between-text-and-btn="0" aria-hidden="false" style="width: 79px; height: 30px; position: relative; box-sizing: border-box; overflow: visible; visibility: inherit;"><a data-testid="linkElement" href="https://www.ecuriesdepersevere.com" target="_self" class="_2DUrw" aria-haspopup="false">
                                    <div class="" style="text-align:center">
                                        <p class="_1zyfI" style="text-align: center; line-height: 30px;" id="comp-jozupke30label">ACCUEIL</p>
                                    </div>
                        </li>
                        <li id="comp-jozupke31" data-direction="ltr" data-listposition="center" data-data-id="dataItem-jp4dmk6j" data-state="menu false  link" data-index="1" class="Y5j6d _3KF65" data-original-gap-between-text-and-btn="0" aria-hidden="false" style="width: 70px; height: 30px; position: relative; box-sizing: border-box; overflow: visible; visibility: inherit;"><a data-testid="linkElement" href="https://www.ecuriesdepersevere.com/equipe" target="_self" class="_2DUrw" aria-haspopup="false">
                                    <div class="" style="text-align:center">
                                        <p class="_1zyfI" style="text-align: center; line-height: 30px;" id="comp-jozupke31label">ÉQUIPE</p>
                                    </div>
                            </a>
                        </li>
                        <li id="comp-jozupke32" data-direction="ltr" data-listposition="center" data-data-id="dataItem-jrkhwx1d" data-state="menu false  link" data-index="2" class="Y5j6d _3KF65" data-original-gap-between-text-and-btn="0" aria-hidden="false" style="width: 123px; height: 30px; position: relative; box-sizing: border-box; overflow: visible; visibility: inherit;"><a data-testid="linkElement" href="https://www.ecuriesdepersevere.com/installations" target="_self" class="_2DUrw" aria-haspopup="false">
                                    <div class="" style="text-align:center">
                                        <p class="_1zyfI" style="text-align: center; line-height: 30px;" id="comp-jozupke32label">INSTALLATIONS</p>
                                    </div>
                            </a>
                        </li>
                        <li id="comp-jozupke33" data-direction="ltr" data-listposition="center" data-data-id="dataItem-jrkkdxh1" data-state="menu false  header" data-index="3" class="Y5j6d _3KF65" data-original-gap-between-text-and-btn="0" aria-hidden="false" style="width: 110px; height: 30px; position: relative; box-sizing: border-box; overflow: visible; visibility: inherit;">
                            <div data-testid="linkElement" class="_2DUrw" tabindex="0" aria-haspopup="false">
                                <div class="_1u8sp">
                                    <div class="" style="text-align:center">
                                        <p class="_1zyfI" style="text-align: center; line-height: 30px;" id="comp-jozupke33label">PRESTATIONS</p>
                                    </div>
                                </div>
                            </div>
                            <ul aria-hidden="true" style="display:none">
                                <li><a data-testid="linkElement" href="https://www.ecuriesdepersevere.com/travail-du-cheval-et-enseignement" target="_self" class="" aria-haspopup="false" tabindex="-1">Travail du cheval et enseignement</a></li>
                                <li><a data-testid="linkElement" data-anchor="dataItem-jtpmj9i4" href="https://www.ecuriesdepersevere.com/travail-du-cheval-et-enseignement" target="_self" class="" aria-haspopup="false" tabindex="-1">Formules et tarifs</a></li>
                                <li><a data-testid="linkElement" href="https://www.ecuriesdepersevere.com/stages" target="_self" class="" aria-haspopup="false" tabindex="-1">Stages</a></li>
                                <li><a data-testid="linkElement" href="https://www.ecuriesdepersevere.com/production-de-fourrage" target="_self" class="" aria-haspopup="false" tabindex="-1">Production de fourrage</a></li>
                            </ul>
                        </li>
                        <li id="comp-jozupke34" data-direction="ltr" data-listposition="center" data-data-id="dataItem-jtq148c6" data-state="menu false  header" data-index="4" class="Y5j6d _3KF65" data-original-gap-between-text-and-btn="0" aria-hidden="false" style="width: 111px; height: 30px; position: relative; box-sizing: border-box; overflow: visible; visibility: inherit;">
                            <div data-testid="linkElement" class="_2DUrw" tabindex="0" aria-haspopup="false">
                                <div class="_1u8sp">
                                    <div class="" style="text-align:center">
                                        <p class="_1zyfI" style="text-align: center; line-height: 30px;" id="comp-jozupke34label">PHILOSOPHIE</p>
                                    </div>
                                </div>
                            </div>
                            <ul aria-hidden="true" style="display:none">
                                <li><a data-testid="linkElement" href="https://www.ecuriesdepersevere.com/philosophie-de-travail" target="_self" class="" aria-haspopup="false" tabindex="-1">De travail</a></li>
                                <li><a data-testid="linkElement" href="https://www.ecuriesdepersevere.com/comfortable-natural-life-paddock" target="_self" class="" aria-haspopup="false" tabindex="-1">Comfortable Natural Life Paddock</a></li>
                                <li><a data-testid="linkElement" href="https://www.ecuriesdepersevere.com/le-bien-etre-du-cavalier" target="_self" class="" aria-haspopup="false" tabindex="-1">Le bien être du cavalier</a></li>
                            </ul>
                        </li>
                        <li id="comp-jozupke35" data-direction="ltr" data-listposition="center" data-data-id="dataItem-jrjs1cvt" data-state="menu false  header" data-index="5" class="Y5j6d _3KF65" data-original-gap-between-text-and-btn="0" aria-hidden="false" style="width: 112px; height: 30px; position: relative; box-sizing: border-box; overflow: visible; visibility: inherit;">
                            <div data-testid="linkElement" class="_2DUrw" tabindex="0" aria-haspopup="false">
                                <div class="_1u8sp">
                                    <div class="" style="text-align:center">
                                        <p class="_1zyfI" style="text-align: center; line-height: 30px;" id="comp-jozupke35label">À NOS COTÉS</p>
                                    </div>
                                </div>
                            </div>
                            <ul aria-hidden="true" style="display:none">
                                <li><a data-testid="linkElement" href="https://www.ecuriesdepersevere.com/ils-en-parlent" target="_self" class="" aria-haspopup="false" tabindex="-1">Ils en parlent</a></li>
                                <li><a data-testid="linkElement" href="https://www.ecuriesdepersevere.com/nos-partenaires" target="_self" class="" aria-haspopup="false" tabindex="-1">Nos partenaires</a></li>
                                <li><a data-testid="linkElement" href="https://www.ecuriesdepersevere.com/la-presse" target="_self" class="" aria-haspopup="false" tabindex="-1">La presse</a></li>
                            </ul>
                        </li>
                        <li id="comp-jozupke36" data-direction="ltr" data-listposition="center" data-data-id="dataItem-jrjv8hw11" data-state="menu false  link" data-index="6" class="Y5j6d _3KF65" data-original-gap-between-text-and-btn="0" aria-hidden="false" style="width: 84px; height: 30px; position: relative; box-sizing: border-box; overflow: visible; visibility: inherit;"><a data-testid="linkElement" href="https://www.ecuriesdepersevere.com/contact" target="_self" class="_2DUrw" aria-haspopup="false">
                                <div class="_1u8sp">
                                    <div class="" style="text-align:center">
                                        <p class="_1zyfI" style="text-align: center; line-height: 30px;" id="comp-jozupke36label">CONTACT</p>
                                    </div>
                                </div>
                            </a></li>
                        <li id="comp-jozupke37" data-direction="ltr" data-listposition="center" data-data-id="dataItem-jozunuub" data-state="menu false  link" data-index="7" class="Y5j6d _3KF65" data-original-gap-between-text-and-btn="0" aria-hidden="false" style="width: 48px; height: 30px; position: relative; box-sizing: border-box; overflow: visible; visibility: inherit;"><a data-testid="linkElement" href="https://www.ecuriesdepersevere.com/blog" target="_self" class="_2DUrw" aria-haspopup="false" aria-describedby="comp-jozupke3navContainer-hiddenA11ySubMenuIndication">
                                <div class="_1u8sp">
                                    <div class="" style="text-align:center">
                                        <p class="_1zyfI" style="text-align: center; line-height: 30px;" id="comp-jozupke37label">Blog</p>
                                    </div>
                                </div>
                            </a>
                            <ul aria-hidden="true" style="display:none">
                                <li><a data-testid="linkElement" data-anchor="adi_page1002_1_114" href="https://www.ecuriesdepersevere.com/blog" target="_self" class="" aria-haspopup="false" tabindex="-1">Blog</a></li>
                                <li><a data-testid="linkElement" data-anchor="adi_page1002_1_116" href="https://www.ecuriesdepersevere.com/blog" target="_self" class="" aria-haspopup="false" tabindex="-1">S'abonner</a></li>
                            </ul>
                        </li>
                        <li id="comp-jozupke3__more__" data-direction="ltr" data-listposition="center" data-state="menu false  header" data-index="__more__" data-dropdown="false" class="_2nffT _3KF65" data-original-gap-between-text-and-btn="0" aria-hidden="true" style="height: 0px; overflow: hidden; position: absolute; visibility: hidden;">
                            <div data-testid="linkElement" class="_2DUrw" tabindex="0" aria-haspopup="false">
                                <div class="_1u8sp">
                                    <div class="" style="text-align:center">
                                        <p class="_1zyfI" style="text-align:center" id="comp-jozupke3__more__label" tabindex="-1">Plus</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="_2vbYi" id="comp-jozupke3dropWrapper" data-dropalign="center" data-dropdown-shown="false">
                        <ul class="_1mmDc" id="comp-jozupke3moreContainer"></ul>
                    </div>
                    <div style="display:none" id="comp-jozupke3navContainer-hiddenA11ySubMenuIndication">Use tab to navigate through the menu items.</div>
                </nav>
        </div>
    </div>
</div>